.btn-text-orange {
    color: #f47c26 !important;
    cursor: pointer;
}

.header-wrapper {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #efefef;
}
